body{
	background-color: blue
}
h1{
	margin-left: 30px;
}
#main{
	height: 500px;
	background-color: white;
	margin-top: 80px;
	border: 2px solid black;
	border-radius: 25px;
	width: 800px;
	margin-left: 22%;
	margin-right: 22%;
}
#info{
	margin-left: 20px;
	padding-top: 2px;
}
input[type=texte]{
	width: 250px;
	box-sizing: border-box;
	border:2px solid black;
	border-radius: 4px;
}